.blurplebutton{
display:inline-block;
padding:0.46em 1.6em;
margin:0 0.2em 0.2em 0;
border-radius: 3px;
	box-sizing: border-box;
	text-decoration:none;
	color:#ffffff;
	text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
	background-color:#5865F2;
	text-align:center;
	transition: all 0.15s;
	}
	.blurplebutton:hover{
	text-shadow: 0 0 2em rgba(255,255,255,1);
	color:#FFFFFF;
	border-color:#FFFFFF;
	}
	@media all and (max-width:30em){
	 .blurplebutton{
display:block;
margin:0.4em auto;
}
} 

.greybutton{
	display:inline-block;
	padding:0.46em 1.6em;
	margin:0 0.2em 0.2em 0;
	border-radius: 3%;
		box-sizing: border-box;
		text-decoration:none;
		color:#ffffff;
		text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
		background-color:grey;
		text-align:center;
		transition: all 0.15s;
		}
		.blurplebutton:hover{
		text-shadow: 0 0 2em rgba(255,255,255,1);
		color:#FFFFFF;
		border-color:#FFFFFF;
		}
		@media all and (max-width:30em){
		 .blurplebutton{
	display:block;
	margin:0.4em auto;
	}
	} 